h1 {
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 48px;
    color: darkorange
}
h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    color: darkblue
}
.h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color:black;
    font-style : garamond;
}
body {
    
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color:black ;
    background-image:url('https://plus.unsplash.com/premium_photo-1661964442277-72c9f8d536bd?q=80&w=728&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-repeat: no-repeat;
    background-size: cover;
    
}
button {
    background-color: grey;
    color: blue;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    

}
.categories-container {
    display: flex;
    flex-direction: row;   
    gap: 20px;             
    flex-wrap: wrap;       
    justify-content: center;
}
img {
  border-radius: 10px;
}
section {
  display: flex;
  flex-direction: column;   
  align-items: center;      
}
.navbar {
    display: flex;
    justify-content: space-between; /* logo left, links right */
    align-items: center;
    background-color: #333;
    padding: 15px 20px;
}



.nav-links {
    margin-left: auto;
    display: flex;
    gap: 20px; /* space between links */
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.nav-links a:hover {
    color: orange;
}
.recipe {
    display: flex;   
    flex-direction: row;       
    gap: 20px;
}


.content {
    display: flex;
    flex-direction: column;
}
